<div class="home-banner d-flex justify-content-center align-items-center" style="background-image: url(https://image.tmdb.org/t/p/original{{posters[myindex]}});">
  <div class="d-flex flex-column p-3 overlay align-self-end">
    <h1 class="text-center">{{name[myindex]}}</h1>
  <p class="lead">{{discription[myindex]}}</p>
  </div>
  
</div>
<div class="trending">
    
    <app-trending></app-trending>
</div>

<div class="top-rated">
  
    <app-top-rated></app-top-rated>
</div>
<div class="Action">

  <app-action-movies></app-action-movies>
</div>
<div class="Comedy">
  <app-comedy></app-comedy>
</div>
<div class="Horror">
  <app-horror></app-horror>
</div>
<div class="originals">
  <app-netflix-originals></app-netflix-originals>
</div>
<div class="Tv-movies">
  <app-tv-movies></app-tv-movies>
</div>
<div class="Romance">
  <app-romance></app-romance>
</div>
<div class="War">
  <app-war></app-war>
</div>
<div class="Family">
  <app-family></app-family>
</div>
<div class="footer p-3 d-flex flex-column justify-content-center align-items-center">
  <a href="https://developers.themoviedb.org/3">
    <h4 class="text-primary lead"> <span class="text-light lead">API -</span>TMDB</h4>
  </a>
  </div>
