.main{
    overflow-x: scroll;
    white-space: nowrap;
    overflow-y:hidden ;
    padding: 10px;
    background-color:#111;
}
.main::-webkit-scrollbar {
    display: none;
  }
  .main {
    -ms-overflow-style: none;  
    scrollbar-width: none;
  }
  h1{
    position: absolute;
}
.banner{
    margin-top: 1rem;
    height:20rem;
    width:10rem;
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
}
.banner:hover{
    transform: scale(1.08);
}
img
{
    height:10rem;
    width:12rem;
}
.movie-name
{
    font-size:1rem;
    margin-left:-1rem ;
}