
    <div class="background text-light">
        
        
        <div class=" fixed-top bg">
            <nav class="nav justify-content-start text-light">
                <a class="nav-link active text-danger fw-bolder" routerLink="/">MyMovies</a>
            </nav>
        </div>

    <router-outlet></router-outlet>
</div>
    
    <!--
      //https://image.tmdb.org/t/p/w500/1qOA3kMtQO8bjnW8M2smjA8tp10.jpg
       
        
        
        searchimg:https://api.themoviedb.org/3/search/movie?api_key=2d570c323ecb9eb740fc19b9a167b7eb&language=en-US&query=Luca&page=1&include_adult=false
    -->
    